.topnav {
  overflow: hidden;
  background-color: rgba(5, 184, 255, 0.250);
  position: fixed;
  width: 100%;
  z-index: 5;
}

.topnav #myLinks {
  display: none;
  background-color: rgba(5, 184, 255, 0.250);
  text-align: center;
  font-weight: 800;
  color: white;

}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: rgba(5, 184, 255, 0.250);
  position: relative;
}

.topnav a.icon {
  background-color: rgb(5, 184, 255);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10vw;
}

.topnav a:hover {
  background-color: rgba(5, 184, 255, 0.250);
  ;
  color: yellow;
  text-align: center;
}

.active {
  background-color: rgba(5, 184, 255, 0.250);
  ;
  color: yellow;
}

.option-mobile {
  width: 100%;
  height: 50%;
  background-color: aquamarine;
  position: fixed;
  display: flex;
  justify-content: center;
  border-radius: 5%;


}

.nav-mobile {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.visible-nav-mobile {
  margin: 0 40% 0 40%;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  justify-content: flex-end;

}

.list-option-mobile {
  text-align: center;

}

.list-option-mobile ul {
  list-style: none;
}

.list-option-mobile ul li a {
  color: black;
  text-decoration: none;

}


body {
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  transition: 1s ease all;
  background-color: #fdffff;
}

.dark main {
  background-color: black;
}

.dark .background-principal {
  background-image: url(./Image/background2.gif);
  object-fit: fill;
}

.background-body-items {
  background-color: rgba(0, 0, 0, 0.503);
}

.background-principal {
  margin: 0%;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./Image/background.gif);
  background-attachment: fixed;
  background-position: center center;
  min-height: 100%;
  width: 100%;
  display: flex;
  transition: 1s ease all;
  box-shadow: 0px 53px 38px -1px rgba(26, 216, 121, 0.75);
  background-color: rgb(186, 238, 255);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Nav */

.picture-left-principal {
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(7, 2, 54, 0.753));
  display: flex;
  width: 25%;
  height: 100%;
  position: fixed;
  transition: 1s;
  transform: translateX(-90%);
  box-shadow: 10px 20px 40px black;
  z-index: 3;
}



.visible-picture-left-principal {
  left: 90%;
  width: 10%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.76);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible-picture-left-principal img {
  width: 70%;
  height: 3.5%;
  filter: invert(100%);
}

/* Main */

.picture-center-principal {
  display: flex;
  flex-direction: column;
  height: 60vw;
  max-height: 270px;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.568);
  position: absolute;
  transform-style: preserve-3d;
  opacity: 100%;
  z-index: 1;
  animation-iteration-count: infinite;
  animation-name: picture-center;
  animation-duration: 10s;
  margin: 15% 30% 30% 30%;
}



.picture-center-principal2 {
  display: flex;
  height: 60vw;
  max-height: 270px;
  width: 40%;
  max-width: 550px;
  background-color: rgba(0, 0, 0, 0.568);
  border: 2px solid black;
  box-shadow: 10px 20px 40px black;
  transform-style: preserve-3d;
  opacity: 1%;
  z-index: 0;
  flex-direction: row-reverse;
  margin: 15% 30% 30% 30%;
}

.full-name {
  display: flex;
  height: 50%;
  font-family: "Style Script", cursive;
  font-weight: bold;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 3.5vw;
}


.name {

  padding: 1%;
  margin: 0;
  color: white;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  text-align: end;
}



.surname {
  padding: 1%;
  color: yellow;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

.icon-contact {
  height: 30%;
  text-align: center;
  justify-content: center;
  transform-style: preserve-3d;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 2%;
}

.contact {
  width: 100%;
  height: 100%;
  max-width: 60px;
  max-height: 60px;
  margin: 0% 2% 0 2%;
  border-radius: 100%;
  background-color: white;
  transform-style: preserve-3d;
  text-align: center;
  justify-content: center;
  align-items: center;
}



.contact img {
  width: 100%;
  height: 100%;
}

/* Footer */

.picture-center-principal .rotate {
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  min-height: 20%;
  flex-direction: row-reverse;
}


.picture-center-principal2 .text-card .rotate {
  position: relative;
  width: 100%;
  min-height: 20%;
  display: flex;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.picture-center-principal .rotate img {
  width: 8%;
  height: 75%;
  filter: invert(100%);
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin: 1%;
  cursor: pointer;
}

.picture-center-principal2 .text-card .rotate img {
  width: 13.3%;
  height: 75%;
  filter: invert(100%);
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin: 2% 0% 2% 3.33%;
}

.option {
  width: 90%;
  right: 10%;
  position: absolute;
}

.img-option {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 20%;
}

.img-option img {
  width: 100%;
  height: 120px;
  filter: opacity(45%);
}

.list-option {
  font-size: 40px;
  color: white;
  position: absolute;
  display: block;
  max-height: 80%;
  font-family: "Bebas Neue", cursiva;
  font-weight: bolder;
  margin-top: 20%;
  text-decoration: none;
}

.picture-left-principal .option .list-option ul {
  height: 16%;
  margin-top: 40px;
  list-style: none;
  text-align: left;
  cursor: pointer;
  margin: 20% 0 20% 0;
}

.list-option li a {
  text-decoration: none;
  color: white;
}

.picture-left-principal .option .list-option ul li img {
  display: inline;
  width: 30px;
  height: 30px;
  opacity: 1%;
  margin: 20% 0 20% 0;
}

body .background-principal .picture-center-principal-rotate {
  background-color: black;
}

/* Funciones */
.picture-left-principal:hover {
  transition: 1s;
  transform: translateX(0%);
}

.picture-left-principal .option .list-option ul li:hover {
  transition: 1s;
  transform: translateX(15%);
  cursor: pointer;
}

.picture-left-principal .option .list-option ul li a:hover {
  color: yellow;
  transition: 1s;
}

.picture-left-principal .option .list-option ul li:hover>a img {
  transition: 1s;
  opacity: 100%;
}

.picture-center-principal .icon-contact .contact:hover {
  background-color: yellow;
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-10%);
}

.rotate img:hover {
  cursor: pointer;
  transition: 2s;
  transform: rotateZ(360deg);
  background-color: rgba(0, 0, 0, 0);
}

.picture-center-principal2 .photograph {
  width: 40%;
  height: 100%;
  position: relative;
  z-index: -1;
  border-left: 2px solid black;
  transform-style: preserve-3d;
  display: flex;
}

.picture-center-principal2 .text-card {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.picture-center-principal2 .text-card ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-collapse: collapse;
  align-content: center;
  padding: 0 0 0 1vw;
  overflow: hidden;
  margin-top: 5%;
}

.picture-center-principal2 .text-card ul li {
  display: flex;
  /* font-size: 1.5vw; */
  font-size: 2.8vmin;
  padding-inline-start: 0px;
  align-content: center;
  height: 20%;
}

.picture-center-principal2 .text-card ul li p {
  text-align: left;
}

.picture-center-principal2 .text-card ul li img {
  width: 5vmin;
  height: 5vmin;
  align-content: center;
}

.photograph img {
  width: 100%;
  height: 100%;
  filter: opacity(90%);
}

@keyframes picture-center {

  0%,
  100% {
    box-shadow: 20px 20px 40px rgba(175, 172, 172, 0.6);
  }

  25% {
    box-shadow: -20px 20px 40px rgba(175, 172, 172, 0.6);
  }

  50% {
    box-shadow: -20px -20px 40px rgba(175, 172, 172, 0.6);
  }

  75% {
    box-shadow: 20px -20px 40px rgba(175, 172, 172, 0.6);
  }
}

.theme {
  width: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --color-green: #00a878;
  --color-red: #fe5e41;
  --color-button: #fdffff;
  --color-black: #000;
}

.switch-1 {
  background-color: #343d58;
  border-radius: 1000px;
  position: relative;
  border: none;
  cursor: pointer;
  display: flex;

  outline: none;
}

.switch-1 span img {
  width: 100%;
  height: 100%;
  filter: invert(100%);
}

.switch-1 span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  background: none;
  color: #fff;
}

.switch-1::after {
  content: "";
  display: block;
  width: 34px;
  height: 32px;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.active {
  background: orange;
}

.active::after {
  right: 0;
  transition: 1s;

  left: unset;
}






.footer {
  width: 100.8%;
  border-bottom: black solid 2px;
  border-top: black solid 2px;
  height: 60vh;
  background: linear-gradient(rgba(173, 216, 230, 0.95), rgb(218, 197, 222, 0.95), rgb(185, 102, 185, 0.95));
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-shadow: -20px -20px 100px black;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.footer-decoration {
  width: 100%;
  opacity: 90%;
  height: 100%;
  display: flex;
  background-image: url(./Image/background-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.dark .footer {
  color: white;
  background: none;
  background-color: rgba(0, 0, 0, 0.95);
  box-shadow: -20px -20px 100px white;

}

.dark .person-footer img {
  filter: invert(50%);
}

.icon-contactme {
  display: flex;
  align-items: center;
  margin-left: 20%;
  font-weight: 700;
}

.person-footer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.person-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icon-contactme a {
  width: 30%;
  height: 100%;
}

.icon-contactme img {
  width: 100%;
  height: 100%;
}

.visit p {
  font-family: "Style Script", cursive;
  font-size: 2vw;
  font-weight: 900;
}

.visit {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}


.galery {
  padding: 5% 0 5% 0;
  height: 50%;

}

.channel {
  padding: 5% 0 5% 0;
  height: 50%;
}

.visit img {
  width: 100%;
  height: 70%;
}


.form {
  justify-content: center;
  align-items: center;
}



.form p {
  text-align: center;
  font-family: "Bebas Neue", cursiva;
  font-weight: 500;
  font-size: 1.5vw;
  margin: 0;
}

.form input {
  width: 100%;
  height: 10%;
  margin: 5% 0 5% 0;
}

.form button {
  width: 60%;
  margin: 5% 20% 5% 20%;
  background-color: rgb(78, 218, 192);
  font-weight: 500;
  border: none;
}

.dark .form button {
  background-color: rgb(148, 78, 218);
}




@media screen and (max-width: 880px) {

  .picture-center-principal {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100%;
    max-width: none;
    background-color: rgba(0, 0, 0, 0.568);
    position: relative;
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
    opacity: 100%;
    z-index: 1;
    animation-iteration-count: infinite;
    animation-name: picture-center;
    animation-duration: 10s;
    margin: 15% 0% 30% 0%;
  }

  .picture-center-principal2 {
    display: none;
  }

  .full-name {
    display: flex;
    height: 50%;
    font-family: "Style Script", cursive;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 60px;
  }


  .name {
    padding: 1%;
    margin: 0;
    color: white;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    text-align: end;
  }



  .surname {
    padding: 1%;
    color: yellow;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .icon-contact {
    height: 50%;
    text-align: center;
    justify-content: center;
    transform-style: preserve-3d;
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
  }

  .contact {
    width: 15vw;
    height: 15vw;

    margin: 2%;
    align-content: center;
    border-radius: 100%;
    background-color: white;
    transform-style: preserve-3d;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 64px;
    max-height: 64px;
  }

  .contact img {
    width: 100%;
    height: 100%;
  }


}

@media screen and (max-width: 370px) {

  .picture-center-principal {
    margin: 30% 0% 30% 0%;
  }

  .text-title-section span {
    display: none;
  }

  .full-name {
    display: flex;
    flex-direction: column;
    height: 50%;
    font-family: "Style Script", cursive;
    font-weight: bold;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
  }

  .name {
    display: flex;
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }

  .name p {
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }

  .surname {
    display: flex;
    padding: 0;
    margin: 0;
    color: yellow;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .footer-movile {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }


  .footer-movile a {
    width: 10%;
    height: 30%;
  }

  .footer-movile img {
    width: 100%;
    height: 100%;
  }

  .footer-decoration {
    align-items: center;
  }
}

@media screen and (max-width: 880px) {

  .footer {
    justify-content: center;
  }

  .footer-movile a {
    width: 20%;
    height: 40%;
  }

  .footer-movile img {
    width: 100%;
    height: 100%;
  }
}







@media screen and (max-width:550px) {



  .footer-movile a {
    width: 30%;
    height: 50%;

  }

  .footer-movile img {
    width: 100%;
    height: 100%;

  }
}