@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


.projects-carousel-text {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.text-title-section {
  background-color: rgba(0, 0, 0, 0.777);
  margin-bottom: 0%;
}

.text-title-section span {
  text-align: center;
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, .5);

  /* Clip Background Image */

  background: url(./Image/projects/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;

}


/* Animate Background Image */

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.projects-carousel {
  width: 100%;
  height: 100%;
  padding-right: 5%;
  margin-bottom: 10%;

}

.projects-carousel2 {
  width: 100%;
  padding-left: 5%;
  margin-bottom: 10%;
}

.carousel-inner img {
  height: 400px;
  width: 100%;
}

.carousel {
  border: black solid;
}

.icon-projects img {
  padding: 2.5%;
  width: 12%;
  height: 10%;
  background: rgba(255, 255, 255, 0.677);
  clip-path: circle(50%);
}



.carousel-item h5 {
  font-family: 'Lobster', cursive;
  font-size: 8vmin;
  margin-bottom: 12%;
  text-decoration: dashed;
  background-color: rgba(255, 255, 255, 0.559);
  color: black;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);

}




.hit-the-floor {
  background-color: rgba(0, 0, 0, 0.777);
  margin-top: 15%;
  margin-bottom: 5%;
  color: #fff;
  font-size: 8vmin;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  text-align: center;
}

.card-body {
  height: 100%;
}

.card-title {
  height: 30%;
}



@media screen and (max-width: 370px) {


  .text-title-section span {
    font-size: 30px;
  }

  .hit-the-floor {
    text-shadow: none;

  }


}

@media screen and (max-width: 990px) {

  .projects-carousel {
    width: 100%;
    padding: 0;
    margin-bottom: 10%;

  }

  .projects-carousel2 {
    width: 100%;
    padding: 0;
    margin-bottom: 10%;
  }
}